html {
  height: 100%;
}

#header-info h1 {
  color: rgb(212, 212, 212);
}
#header-info h2 {
  color: white;
  margin: 5px 0;
  font-weight: 100;
  font-size: 1.2em;
}

header {
  background-image: url(images/honey-bee-a-bee-flying-into-the-hive-blanokřídlý-insects.jpg);
  /* background-color: rgb(223, 144, 27); */

  /* background-image: url(https://beelab.umn.edu/sites/beelab.umn.edu/files/styles/folwell_full/public/2021-05/learn%20about%20honey%20bees%20header.jpg?itok=tXHHAxNX); */
}
#header-wraper {
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, rgb(223, 144, 27), transparent);
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #ffffff90;
  height: 108px;
  width: 108px;
}
#my-picture {
  padding: 12px;
  width: 120px;
  height: 120px;
}
#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px black;
}

footer {
  background-color: lightblue;
  text-align: center;
  padding: 5px;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff90;
}

/* h1 {
  color: #fdfdfd;
  font-weight: 100;
  font-style: italic;
  padding-left: 10px;
  box-shadow: 1px 1px 4px 1px;
  box-shadow: #057988;
  text-align: center;
  padding-left: 15px;
  margin-top: 5ch;
  margin-left: 0.5cm;
} */
#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}
#main {
  flex: 4;
  padding: 10px 10px 5px 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  display: none;
  background-image: url(images/honeyjarr.png);
  background-position: 20%;

  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid grey;
  flex: 4;
  box-shadow: 0 0 0 1px rgba(88, 3, 3, 0.15), 0 2px 3px rgba(0, 0, 0, 0.15);
}

.page > h2 {
  margin: 0 0 10px 0;
  color: rgb(223, 144, 27) 988;
}

#side-menu {
  flex: 1;
  padding: 10px 5px 5px 10px;
  border-radius: 4px;
}
div {
  display: block;
  unicode-bidi: isolate;
}

td {
  padding: 6px;
}
th {
  padding: 4px;
}

#top-menu-bar {
  text-align: center;
  background: linear-gradient(45deg, rgb(35, 122, 0), transparent);
  margin: 0px;
  padding: 1px;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  border-radius: 4px;
  transition: 0.5s;
  margin: 2px;
}

#top-menu-bar a:visited {
  color: white;
  text-shadow: #202020 56px;
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #4646468f transparent;
  background: rgb(223, 144, 27);
}

.favorite {
  font-weight: bold;
  color: blue;
}

td.favorite {
  font-weight: normal;
}
